pyrogram
tgcrypto
requests
fpdf
tqdm
vosk
yt-dlp
youtube_search
requests
youtube_dl
aiohttp
Pyrogram
Tgcrypto
asyncio
wget
aiofiles
OpenCC
pytube

python-dotenv
youtube-search-python
search-engine-parser
ffmpeg-python
pillow
future
psutil
wget
motor
dnspython
yt-dlp
httpx==0.13.3
heroku3
gitpython
python-arq
tswift
telethon
pytube
sqlalchemy==1.3.20
psycopg2
